<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.ac.tees.w9336459.servicehub">
    <!-- Permissions for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Tiles.personal_grooming_offered"></activity>
        <activity android:name=".Tiles.party_event_service_offered" />
        <activity android:name=".Tiles.movers_shifters_services_offered" />
        <activity android:name=".Tiles.home_service_offered" />
        <activity android:name=".Tiles.health_services_offered" />
        <activity android:name=".Tiles.mover_shifters_service_tile" />
        <activity android:name=".Tiles.personal_grooming_service_tile" />
        <activity android:name=".Tiles.party_event_service_tile" />
        <activity android:name=".Tiles.home_services_tile" />
        <activity android:name=".Tiles.health_service_tile" />
        <activity android:name=".Tiles.electronic_service_offered" />
        <activity android:name=".ServiceProviderMainScreen" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".U_MainScreen" >

        </activity>
        <activity android:name=".Tiles.electronic_tile" />
        <activity android:name=".help" />
        <activity android:name=".menubtn" />
        <activity android:name=".profile" />
        <activity android:name=".ServiceProviderLogin2" />
        <activity android:name=".ServiceProviderNewAccountVerify" />
        <activity android:name=".ServiceProviderNewAccount" />
        <activity android:name=".ServiceProviderLogin" />
        <activity android:name=".welcome" />
        <activity android:name=".User_VerifyID_Screen" />
        <activity android:name=".User_Create_Account" />
        <activity android:name=".User_Login" />
        <activity android:name=".UserSignUp" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>